<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.dao.BoardDao"> 
	
        <select id="viewsallselect" resultType="com.spring.boot.vo.BoardVo">
                select boardnum,id,title,writes,date
                from boards 
               <where>
                <if test="searchKeyword != null and searchKeyword != ''">
                title LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
                </where>
                ORDER BY boardnum DESC
                LIMIT #{recordCountPerPage} OFFSET #{firstIndex} 
        </select>

        <select id="getListcount" parameterType="com.spring.boot.vo.BoardVo" resultType="java.lang.Integer">
                select count(*)
                from boards 
               
        </select>

         <select id="getListmax"  parameterType ="Integer">
                select max(boardnum) as boardnum
                from boards 
               
        </select>

         <select id="viewdetail" parameterType ="Integer">
                select * from boards where boardnum= #{boardnum}
        </select>

        <insert id="boardinsert">
                insert into  boards(boardnum,id,writes,title) values(#{boardnum},#{id},#{writes},#{title})
        </insert>

        <delete id="viewdetaildelete">
                DELETE FROM boards WHERE boardnum=#{boardnum}
        </delete>

</mapper>