*{font-family: 'Noto Sans KR', sans-serif;  }


body {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
}

.lows
{
    display: block; 
    margin:0 auto;
    height: 430px;
}

.banner_sec1{
	width:565px;
	height:380px;
	float:left;
	margin-left:50px;
}
.banner_sec1 h1{
	width: 565px;
	height: 95px;
	margin-top: 50px;
	margin-left: 30px;
	color: #ffffff;
	font-size: 32px;
	font-weight: 400px;
}



.side a{
	width: 140px;
	height: 40px;
	margin-top: 10px;
	font-size: 10pt;
	border-radius: 5px;
	line-height: 40px;
	color: gray;
	font-weight: bold;
}
.side a:hover{
	color: black;
	font-size: 11pt;
}


.banner_sec2{
	width:565px;
	height:380px;
	float:left;
	margin-left:50px;
}
.banner_sec1 input[type="text"]{
	width: 440px;
	height: 50px;
	border: solid 3px white;
	background: url() no-repeat 410px 5px;
	background-size: 40px 40px;
	margin-left: 30px;;
}
.banner_sec1 ul{
	width: 450px;
	height: 100px;
	margin-left: 30px;
	margin-top: 30px;
	padding-left: 0;
}
.banner_sec1 li{
	width: 80px;
	height: 30px;
	color: white;
	list-style: none;
	float: left;
	border-radius: 20px;
	background-color:#353535;
	text-align: center;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 9pt;
	line-height: 30px;
}
.banner_sec2 img{
	width: 565px;
	height: 378px;

}

.janso
{
    width: 1280px;
    margin:0 auto;
    height: auto;
    position: relative;
}

.local .tabs{
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  height: auto;
}
.local .tabs li{
  
  background: none;
  color: #222;
  display: inline-block;
  padding: 5px 35px;
  cursor: pointer;
  font-weight:  900;
  font-size: 20px;
  border-color: #8A2BE2;
  border-top-style: solid;
  border-left-style: solid;
  border-top-left-radius: 5px;;

  
}

.local .tabs li.current{
  background: #f1eeee;
  color: #222;
}

.tab-content{
  display: none;
  background: #f1eeee;
  padding: 10px;
}

.tab-content.current{

  display: inherit;
  height: auto;
  border-color: #8A2BE2;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

#tables
{
	text-align: center;
}	

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
}


.slider   {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 0.5px;
    
  }
  
.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  list-style: none;
}
  
.slider ul li {
   position: relative;
   display: block;
   float: left;
   margin: 0;
   padding: 0;
   width: 565px;
   height: 400px;
   z-index: 1;
}

.slider
{
  z-index: 2;

} 

.slider ul li image
{
    width: 100%;
    height: 100%;
}


/* 슬리아드버튼 */
a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%; 
    background: #D5D5D5;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 0.9;
  }
  
  a.control_prev {
    border-radius: 0 5px 5px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }

  a.control_prev:focus {
    border-radius: 0 2px 2px 0;
    outline: none;
  }

  a.control_next:focus {
    right: 0;
    border-radius: 2px 0 0 2px;
    outline: none;
  }



